BG_TASK_CELERY_BEAT_CELERY_BROKER_URL=redis://localhost:6379/0
BG_TASK_CELERY_BEAT_CELERY_BACKEND_URL=redis://localhost:6379/0

BG_TASK_CELERY_BEAT_PRODUCER_FREQUENCY=10
BG_TASK_CELERY_BEAT_BATCH_SIZE=2000

# Background Task Database
BG_TASK_API_DB_USERNAME='postgres'
BG_TASK_API_DB_PASSWORD='password'
BG_TASK_API_DB_HOSTNAME='localhost'
BG_TASK_API_DB_PORT=5432
BG_TASK_API_DB_DBNAME='bgtaskdb'

# Social Registry Database
BG_TASK_API_DB_USERNAME_SR='postgres'
BG_TASK_API_DB_PASSWORD_SR='password'
BG_TASK_API_DB_HOSTNAME_SR='localhost'
BG_TASK_API_DB_PORT_SR=5432
BG_TASK_API_DB_DBNAME_SR='socialregistrydb'

# PBMS Database
BG_TASK_API_DB_USERNAME_PBMS='postgres'
BG_TASK_API_DB_PASSWORD_PBMS='password'
BG_TASK_API_DB_HOSTNAME_PBMS='localhost'
BG_TASK_API_DB_PORT_PBMS=5432
BG_TASK_API_DB_DBNAME_PBMS='pbmsdb'
