# Social Registry Database
PBMS_BENE_PORTAL_API_DB_USERNAME_PBMS='postgres'
PBMS_BENE_PORTAL_API_DB_PASSWORD_PBMS='password'
PBMS_BENE_PORTAL_API_DB_HOSTNAME_PBMS='localhost'
PBMS_BENE_PORTAL_API_DB_PORT_PBMS='5432'
PBMS_BENE_PORTAL_API_DB_DBNAME_PBMS='pbmsdb'

# Background Task Database
PBMS_BENE_PORTAL_API_DB_USERNAME_BG_TASK='postgres'
PBMS_BENE_PORTAL_API_DB_PASSWORD_BG_TASK='password'
PBMS_BENE_PORTAL_API_DB_HOSTNAME_BG_TASK='localhost'
PBMS_BENE_PORTAL_API_DB_PORT_BG_TASK='5432'
PBMS_BENE_PORTAL_API_DB_DBNAME_BG_TASK='bgtaskdb'
