BG_TASK_CELERY_WORKERS_G2P_BRIDGE_BASE_URL= "https://g2p_brige_base_url"

BG_TASK_CELERY_WORKERS_CELERY_BROKER_URL=redis://localhost:6379/0
BG_TASK_CELERY_WORKERS_CELERY_BACKEND_URL=redis://localhost:6379/0

BG_TASK_CELERY_WORKERS_BATCH_SIZE=2000
BG_TASK_CELERY_WORKERS_WORKER_MAX_ATTEMPTS=5

BG_TASK_CELERY_WORKERS_SIGN_KEY_KEYMANAGER_APP_ID="PBMS"
BG_TASK_CELERY_WORKERS_SIGN_KEY_KEYMANAGER_REF_ID=""
BG_TASK_CELERY_WORKERS_KEYMANAGER_API_TIMEOUT=10
BG_TASK_CELERY_WORKERS_KEYMANAGER_API_BASE_URL=""
BG_TASK_CELERY_WORKERS_KEYMANAGER_AUTH_ENABLED=True
BG_TASK_CELERY_WORKERS_KEYMANAGER_AUTH_URL=""
BG_TASK_CELERY_WORKERS_KEYMANAGER_AUTH_CLIENT_ID="openg2p-pbms-dev"
BG_TASK_CELERY_WORKERS_KEYMANAGER_AUTH_CLIENT_SECRET=""
