# Social Registry Database
BG_TASK_API_DB_USERNAME_SR='postgres'
BG_TASK_API_DB_PASSWORD_SR='password'
BG_TASK_API_DB_HOSTNAME_SR='localhost'
BG_TASK_API_DB_PORT_SR='5432'
BG_TASK_API_DB_DBNAME_SR='socialregistrydb'

# Background Task Database
BG_TASK_API_DB_USERNAME_BG_TASK='postgres'
BG_TASK_API_DB_PASSWORD_BG_TASK='password'
BG_TASK_API_DB_HOSTNAME_BG_TASK='localhost'
BG_TASK_API_DB_PORT_BG_TASK='5432'
BG_TASK_API_DB_DBNAME_BG_TASK='bgtaskdb'
